header {
  background-color: #ffffff;
  color: #ec65bf;
  text-align: center;
  padding: 20px;
}

h1 {font-family: 'Monoton', sans-serif;
  font-size: 150px;
}

.container {
  max-width: 800px;
  margin: 2em auto 0;
  padding: 20px;
  background-color: #c688d3;
  box-shadow: 0 2px 4px rgba(224, 77, 133, 0.1);
  border-radius: 5px;
}

p {
  font-size: 17px;
  text-align: center;
}

.message {
  font-style: bold;
  font-size: 50px;
  color: #777;
  text-align: center;
  margin-top: 20px;
}
