/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", monospace;
  background-color: #524a4a;
  margin: 0;
  padding: 0;
}

/* You can add global styles to this file, and also import other style files */
